body {
  margin: 0;
  padding: 0;
  background-image: url('https://images.squarespace-cdn.com/content/v1/55d0fb97e4b00eb973693442/1441230460601-N6MRUUG5S0DRS529FDET/ke17ZwdGBToddI8pDm48kElufIGIMwkjBY6-sF-8j3l7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UdWrJsxWj1dS0hw3fBk3OsRm2ft5y3oEHzYyl0t_VKv0Dxb2w5SppyqLtPdkEDDHsw/simple-blue-background-abstract-photo-blue-background.jpg?format=1500w');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.titulo {
  margin: 5vw 0vh;
  border-radius: 10vw 10vw;
  background-color: white;
}

.navlink {
  text-decoration: none;
  border-radius: 10vw;
  background-color: aliceblue;
  padding: 1vw 2vw 1vw 2vw;
  box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.tabla{
  background-color: aliceblue;
  border-radius: 2vw;
  box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}
.total{
  background-color: aliceblue;
  border-radius: 2vw;
  box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}